In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
data = pd.read_csv("global_shark_attacks.csv")
print(data)
# print(type(data["date"]))
# data["date"] = pd.to_datetime(data["date"],errors="coerce")
# data["data"] = pd.to_numeric(data["date"], errors="coerce")
# key = data["species"]
# del data["species"]
# X_train, X_test, y_train, y_test = train_test_split(data, key, test_size=0.2)
# model = LinearRegression()
# model.fit(X_train, X_test)

            date    year          type       country                area  \
0     2023-05-13  2023.0    Unprovoked     AUSTRALIA     South Australia
1     2023-04-29  2023.0    Unprovoked     AUSTRALIA   Western Australia
2     2022-10-07  2022.0    Unprovoked     AUSTRALIA  Western  Australia
3     2021-10-04  2021.0    Unprovoked           USA             Florida
4     2021-10-03  2021.0    Unprovoked           USA             Florida
...          ...     ...           ...           ...                 ...
6885         NaN     NaN  Sea Disaster        GREECE        Off Thessaly
6886         NaN     NaN    Unprovoked     INDONESIA       Riau Province
6887         NaN     NaN    Unprovoked          IRAQ              Basrah
6888         NaN     NaN    Unprovoked  SOUTH AFRICA       KwaZulu-Natal
6889         NaN     NaN    Unprovoked     AUSTRALIA   Western Australia

                                               location  \
0                                              Elliston
1                                  Yallingup, Busselton
2                                          Port Hedland
3              Fort Pierce State Park, St. Lucie County
4                           Jensen Beach, Martin County
...                                                 ...
6885                                                NaN
6886  Natuna Islands, between Sumatra & Kalimantan i...
6887        Shatt-el Arab River near a small boat stand
6888                                             Durban
6889                                                NaN

                                         activity                name sex  \
0                                         Surfing    Simon Baccanello   M
1                                        Swimming                male   M
2                                    Spearfishing         Robbie Peck   M
3                                         Surfing  Truman Van Patrick   M
4                                        Swimming                male   M
...                                           ...                 ...  ..
6885                    Shipwrecked Persian Fleet               males   M
6886                  Swimming near anchored ship   a ship's engineer   M
6887                                     Swimming                male   M
6888  Crew swimming alongside their anchored ship                male   M
6889                                 Pearl diving               Ahmun   M

           age fatal_y_n       time      species
0           46         Y      10h10  White shark
1          NaN         N      11h20     1m shark
2           38         N      11h30   Bull shark
3         25.0         N        NaN          NaN
4          NaN         N      12h00          NaN
...        ...       ...        ...          ...
6885       NaN         Y        NaN          NaN
6886       NaN         Y        NaN          NaN
6887  13 or 14         Y  Afternoon   Bull shark
6888       NaN         Y        NaN          NaN
6889       NaN         Y        NaN          NaN

[6890 rows x 13 columns]